#over21 {
    background-color: #c39300;
    
    .ageContainer {
        position: absolute;
        left: 35%;
        top: 40%;
    }
    .inputDivs {
        div:nth-child(-n+3) {
            float: left;
            margin-right: 5px;
        }
    }
    .formButtonDiv {
        float: left;
        margin-top: 10px;
        div {
            padding: 0;
            margin: 0;
        }
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    legend {
        font-family: Arvo, serif;
    }
}

#tooYoung{
    img{
        align: left;
    }
}